CLIENT_URL=http://localhost:5173
EMAIL_TO=
NODE_ENV=development
NODE_OPTIONS="--dns-result-order=ipv4first"
PORT=4000
REDIS_CONNECTION_STRING=redis://127.0.0.1:6379
RESEND_API_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PASS=
SMTP_PORT=465
SMTP_USER=
VITE_CLIENT_URL=http://localhost:4000
to=
REDIS_PASSWORD =