DATABASE_URL=
EMAIL_TO=mehularora506@gmail.com
GITHUB_TOKEN=
# INNGEST_EVENT_KEY=ymyDkLLTO88tIAcLhfjdd0tDxoCkOg1A9_ulkZa-p1QiL5YuPGK-f7THswvRSl7_TwGDTAc2DsJ72tykvgu5og
# INNGEST_SIGNING_KEY=signkey-prod-b24507d7b03fc346bdaff3534fc3280ea04c5b4025182c1d3daa0e43ce0d18b4
NEXT_PUBLIC_API_URL=http://localhost:3000
NODE_ENV=production
NODE_OPTIONS=
PORT=4000
REDIS_CONNECTION_STRING=
RESEND_API_KEY=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
to=
REDIS_PASSWORD=
INNGEST_DEV=1
CRON_SECRET=
VIEW_COUNT_SECRET=